{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}Products{% endif %}
{% endblock %}

{% block content %}
  <br>
  <main>
    <div id="main" class="container">
      <div class="row">
        <h3>
          Select category
        </h3>
        <ul class="nav nav-pills">
          {% for c in categories %}
          <li {% if category.slug == c.slug %} class="active"
              {% endif %}>
          <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
          </li>
          {% endfor %}
        </ul>
      <div class="container row">
        <h3>
          {% if category %}{{ category.name }}
          {% else %}All products
          {% endif %}
        </h3>
      </div>
      <div class="container-fluid">
        <div class="row">
          {% for product in products|slice:":"%}
            <div class="col-sm-3" style="height:35rem;">
                <div>
                  <a href="{{ product.get_absolute_url }}">
                    <img src='{% if product.image %}
                    {{ product.image.url }}
                    {% else %}
                    {% static "img/no_image.png" %}
                    {% endif %}'
                    class="">
                  </a>
                </div>
                <div>
                  <p class="text-muted">{{ product.category }}</p>
                  <h4 class="" style="height:6.5rem;">{{ product.name }}</h4>
                  <p class="">${{ product.price }}</p>
                  <a href="{{ product.get_absolute_url }}" class="btn btn-success">Add to cart</a>
                </div>
            </div>
          {% endfor %}
        </div>




      </div>

    </div>
  </main>

{% endblock %}
