{% extends "shop/base.html" %}

{% block title %}
  Checkout
{% endblock %}

{% block content %}

  <h1>Checkout</h1>

  <div class="order-info">
    <h3>Your order</h3>
    <p>Your cart contains {{ cart.get_total_items }} items.</p>
    <ul>
      {% for item in cart %}
        <li>
          {{ item.quantity }} × {{ item.product.name }} =
          <span>${{ item.total_price }}</span>.
        </li>
      {% endfor %}
    </ul>
    <p><strong>Total: ${{ cart.get_total_price }}</strong></p>
  </div>

  {% if cart.cart_is_empty %}
    <div class="order-info">
      <p>Your cart contains no items. Please add more items before continuing.</p>
    </div>

  {% else %}
    <form action="." method="post" class="order-form">
      {{ form.as_p }}
      <p><input type="submit" value="Place order"></p>
      {% csrf_token %}
    </form>

  {% endif %}

{% endblock %}
